form {
  width: 300px;
  max-width: calc(100% - 100px);
  padding: 50px;
  display: inline-block;
  vertical-align: top;
}

mat-form-field {
  display: block;
  margin-bottom: 15px;
}

button {
  width: 100%;
}
